In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv('./data/movie.csv')

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [4]:
movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [5]:
movies.describe(include=float).T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4867.0,1.379889e+02,1.202394e+02,1.00,49.00,108.00,191.00,8.130000e+02
duration,4901.0,1.070908e+02,2.528602e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4814.0,6.910145e+02,2.832954e+03,0.00,7.00,48.00,189.75,2.300000e+04
actor_3_facebook_likes,4893.0,6.312763e+02,1.625875e+03,0.00,132.00,366.00,633.00,2.300000e+04
actor_1_facebook_likes,4909.0,6.494488e+03,1.510699e+04,0.00,607.00,982.00,11000.00,6.400000e+05
gross,4054.0,4.764451e+07,6.737255e+07,162.00,5019656.25,25043962.00,61108412.75,7.605058e+08
facenumber_in_poster,4903.0,1.377320e+00,2.023826e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4895.0,2.676688e+02,3.729348e+02,1.00,64.00,153.00,320.50,5.060000e+03
budget,4432.0,3.654749e+07,1.002427e+08,218.00,6000000.00,19850000.00,43000000.00,4.200000e+09
title_year,4810.0,2.002448e+03,1.245398e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4903.0,1.621924e+03,4.011300e+03,0.00,277.00,593.00,912.00,1.370000e+05
imdb_score,4916.0,6.437429e+00,1.127802e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4590.0,2.222349e+00,1.402940e+00,1.18,1.85,2.35,2.35,1.600000e+01

In [6]:
np.finfo('float64')

finfo(resolution=1e-15, min=-1.7976931348623157e+308, max=1.7976931348623157e+308, dtype=float64)

In [7]:
np.finfo('float32')

finfo(resolution=1e-06, min=-3.4028235e+38, max=3.4028235e+38, dtype=float32)

In [8]:
np.finfo('float16')

finfo(resolution=0.001, min=-6.55040e+04, max=6.55040e+04, dtype=float16)

In [9]:
movies2 = pd.read_csv('./data/movie.csv',
                    dtype= {
                        'num_critic_for_reviews': np.float32,
                        'duration': np.float32,
                        'director_facebook_likes': np.float32,
                        'actor_3_facebook_likes': np.float32,
                        'actor_1_facebook_likes': np.float32,
                        'gross': np.float32,
                        'facenumber_in_poster': np.float32,
                        'num_user_for_reviews': np.float32,
                        'budget': np.float32,
                        'title_year': np.float32,
                        'actor_2_facebook_likes': np.float32,
                        'imdb_score': np.float32,
                        'aspect_ratio': np.float32,
                    })
movies2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float32
 3   duration                   4901 non-null   float32
 4   director_facebook_likes    4814 non-null   float32
 5   actor_3_facebook_likes     4893 non-null   float32
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float32
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float32
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float32
 26  aspect_ratio               4590 non-null   float32
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float32(13), int64(3), object(12)
memory usage: 825.9+ KB

In [10]:
intCol = ['num_voted_users', 'cast_total_facebook_likes', 'movie_facebook_likes']
movies.loc[:, intCol].describe().T

,count,mean,std,min,25%,50%,75%,max
num_voted_users,4916.0,82644.924939,138322.162547,5.0,8361.75,33132.5,93772.75,1689764.0
cast_total_facebook_likes,4916.0,9579.815907,18164.316990,0.0,1394.75,3049.0,13616.75,656730.0
movie_facebook_likes,4916.0,7348.294142,19206.016458,0.0,0.00,159.0,2000.00,349000.0

In [11]:
np.iinfo('int64')

iinfo(min=-9223372036854775808, max=9223372036854775807, dtype=int64)

In [12]:
np.iinfo('int32')

iinfo(min=-2147483648, max=2147483647, dtype=int32)

In [13]:
np.iinfo('int16')

iinfo(min=-32768, max=32767, dtype=int16)

In [14]:
movies3 = pd.read_csv('./data/movie.csv',
                    dtype= {
                        'num_critic_for_reviews': np.float32,
                        'duration': np.float32,
                        'director_facebook_likes': np.float32,
                        'actor_3_facebook_likes': np.float32,
                        'actor_1_facebook_likes': np.float32,
                        'gross': np.float32,
                        'facenumber_in_poster': np.float32,
                        'num_user_for_reviews': np.float32,
                        'budget': np.float32,
                        'title_year': np.float32,
                        'actor_2_facebook_likes': np.float32,
                        'imdb_score': np.float32,
                        'aspect_ratio': np.float32,
                        'num_voted_users': np.int32,
                        'cast_total_facebook_likes': np.int32,
                        'movie_facebook_likes': np.int32
                    })
movies3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float32
 3   duration                   4901 non-null   float32
 4   director_facebook_likes    4814 non-null   float32
 5   actor_3_facebook_likes     4893 non-null   float32
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int32
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float32
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float32
 19  language                   4904 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float32
 26  aspect_ratio               4590 non-null   float32
 27  movie_facebook_likes       4916 non-null   int32
dtypes: float32(13), int32(3), object(12)
memory usage: 768.2+ KB

In [15]:
movies.describe(include='O').T

,count,unique,top,freq
color,4897,2,Color,4693
director_name,4814,2397,Steven Spielberg,26
actor_2_name,4903,3030,Morgan Freeman,18
genres,4916,914,Drama,233
actor_1_name,4909,2095,Robert De Niro,48
movie_title,4916,4916,Cats & Dogs: The Revenge of Kitty Galore,1
actor_3_name,4893,3519,Steve Coogan,8
plot_keywords,4764,4756,based on novel,4
movie_imdb_link,4916,4916,http://www.imdb.com/title/tt0240900/?ref_=fn_t...,1
language,4904,47,English,4582
country,4911,65,USA,3710
content_rating,4616,18,R,2067

In [16]:
movies.color.value_counts()

Color              4693
Black and White     204
Name: color, dtype: int64

In [17]:
movies.language.value_counts()

English       4582
French          73
Spanish         40
Hindi           28
Mandarin        24
German          19
Japanese        17
Cantonese       11
Russian         11
Italian         11
Portuguese       8
Korean           7
Arabic           5
Swedish          5
Hebrew           5
Danish           5
Persian          4
Norwegian        4
Dutch            4
Polish           3
Thai             3
Chinese          3
Indonesian       2
Icelandic        2
Romanian         2
Zulu             2
Dari             2
Aboriginal       2
None             2
Swahili          1
Dzongkha         1
Kazakh           1
Czech            1
Greek            1
Slovenian        1
Panjabi          1
Aramaic          1
Telugu           1
Urdu             1
Bosnian          1
Kannada          1
Tamil            1
Filipino         1
Maya             1
Mongolian        1
Vietnamese       1
Hungarian        1
Name: language, dtype: int64

In [18]:
movies.country.value_counts()

USA                   3710
UK                     434
France                 154
Canada                 124
Germany                 94
                      ...
Slovenia                 1
Dominican Republic       1
Panama                   1
Official site            1
Georgia                  1
Name: country, Length: 65, dtype: int64

In [19]:
movies.content_rating.value_counts()

R            2067
PG-13        1411
PG            686
Not Rated     115
G             112
Unrated        59
Approved       54
TV-14          30
TV-MA          18
TV-PG          13
X              12
TV-G           10
Passed          9
NC-17           7
GP              6
M               5
TV-Y7           1
TV-Y            1
Name: content_rating, dtype: int64

In [20]:
movies4 = pd.read_csv('./data/movie.csv',
                    dtype= {
                        'num_critic_for_reviews': np.float32,
                        'duration': np.float32,
                        'director_facebook_likes': np.float32,
                        'actor_3_facebook_likes': np.float32,
                        'actor_1_facebook_likes': np.float32,
                        'gross': np.float32,
                        'facenumber_in_poster': np.float32,
                        'num_user_for_reviews': np.float32,
                        'budget': np.float32,
                        'title_year': np.float32,
                        'actor_2_facebook_likes': np.float32,
                        'imdb_score': np.float32,
                        'aspect_ratio': np.float32,
                        'num_voted_users': np.int32,
                        'cast_total_facebook_likes': np.int32,
                        'movie_facebook_likes': np.int32,
                        'color': 'category',
                        'language': 'category',
                        'country': 'category',
                        'content_rating': 'category',
                    })
movies4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   category
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float32
 3   duration                   4901 non-null   float32
 4   director_facebook_likes    4814 non-null   float32
 5   actor_3_facebook_likes     4893 non-null   float32
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float32
 8   gross                      4054 non-null   float32
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int32
 13  cast_total_facebook_likes  4916 non-null   int32
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float32
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float32
 19  language                   4904 non-null   category
 20  country                    4911 non-null   category
 21  content_rating             4616 non-null   category
 22  budget                     4432 non-null   float32
 23  title_year                 4810 non-null   float32
 24  actor_2_facebook_likes     4903 non-null   float32
 25  imdb_score                 4916 non-null   float32
 26  aspect_ratio               4590 non-null   float32
 27  movie_facebook_likes       4916 non-null   int32
dtypes: category(4), float32(13), int32(3), object(8)
memory usage: 638.6+ KB

In [32]:
movies4.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505856.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404160.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074176.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130656.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [21]:
# genres 원핫인코딩